.Encabezado {
  height: 68px;
  width: 100%;
  background: transparent;
  box-shadow: 0 0 10px 0 #3e3e3e;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.Encabezado nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 80px;
  gap: 180px;
}

.Encabezado .icon {
  height: 55px;
  width: auto;
  display: block;
}

.Encabezado .nav-links {
    display: flex;
    gap: 150px;
}

.Encabezado .other-page {
  color: #efefef;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Encabezado .other-page:hover {
  color: #1a64aa;
}

.nav-links { display:flex; align-items:center; gap:1.5rem; }
.nav-auth { margin-left: auto; }
.btn-login { 
  padding: 11px 22px;
  border-radius: 6px; 
  border: none; 
  background-color: #1a64aa; 
  color:#ffff; 
  cursor:pointer; font-size: 15px; font-weight:500; 
  letter-spacing: 1px;
}
