/* App.css (o index.css global) */
* {
  font-family: Arial;
  box-sizing: border-box; 
}
html {
  scroll-behavior: smooth;      /* scroll suave para anclas */
  scroll-padding-top: 80px;     /* espacio para cabecera sticky (ajusta si tu header es mayor) */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;           /* evita scroll horizontal indeseado */
}

div#root {
  margin: -19px 0;
  padding: 0;
}